<section class="s-about sect" id="about">
  <div class="container">
    <div class="s-about__head">
      <div class="s-about__wrapper-list">
        <h2 class="t-title">Цей курс для вас, якщо ви:</h2>
        <ul class="list s-about__list">
          <li>
            <span>01</span>
            <span>Заїдаєте стрес;</span>
          </li>
          <li>
            <span>02</span>
            <span
              >Думаєте що у вас немає <br />
              сили волі і нічого не вийде;</span
            >
          </li>
          <li>
            <span>03</span>
            <span>Ділите їжу на хорошу і погану;</span>
          </li>
          <li>
            <span>04</span>
            <span>Багато тренуєтесь і не худнете;</span>
          </li>
          <li>
            <span>05</span>
            <span
              >Картаєте себе в своїй <br />
              «не ідеальності» і відчуваєте провину;</span
            >
          </li>
          <li>
            <span>06</span>
            <span>Розчаровані дієтами та марафонами;</span>
          </li>
          <li>
            <span>07</span>
            <span>«Правильно» харчуєтесь і не маєте результату;</span>
          </li>
          <li>
            <span>08</span>
            <span>Вам не подобається якість тіла і самопочуття.</span>
          </li>
        </ul>
        <button
          data-fancybox
          data-src="#modal-login"
          class="button s-about__login-btn"
        >
          Зареєструватися
        </button>
      </div>
      <img src="@img/fruits.jpg" alt="image" class="s-about__head-img" />
    </div>
    <div class="s-about__bottom">
      <a href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true" data-fancybox class="video">
        <img src="@img/about-preview.jpg" alt="image" class="video__preview" />
        <button class="btn-reset video__btn"></button>
        <div class="t-title">Пробне тренування</div>
      </a>
      <div class="s-about__bottom-info">
        <div class="tag">Спробуйте безкоштовно</div>
        <h3 class="t-title s-about__title">Пройдіть пробне тренування</h3>
        <div class="s-about__bottom-content">
          <h5>
            Пробне жироспалювальне тренування на все тіло / курс «Здорове тіло»
          </h5>
          <p>
            Пробне тренування — це приклад середнього навантаження курсу. Якщо
            вам вдалося виконати 30-40% від уроку, ви точно зможете займатися на
            курсі. Почнемо з простіших вправ.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
