<section class="s-course">
  <div class="container">
    <h1 class="s-course__title">Ваш курс – Two Step to Fit</h1>
    <div class="s-course__wrapper">
      <div class="s-course__aside-wrapper">
        <aside class="s-course__aside _scrollbar" id="aside-courses">
          <div class="s-course__aside-head">
            <a href="/" class="s-course__aside-logo">
              <img src="@img/logo.svg" alt="logo" />
            </a>
            <button class="btn-reset s-course__aside-close" id="courses-close">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </button>
          </div>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Основи нутріціології</div>
              <div class="s-course__item-num">01</div>
            </div>
            <p class="s-course__item-content">
              розбираємося в головних принципах здорового харчування.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Побудова раціону</div>
              <div class="s-course__item-num">02</div>
            </div>
            <p class="s-course__item-content">
              як скласти збалансоване меню для різних цілей.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Тренування та харчування</div>
              <div class="s-course__item-num">03</div>
            </div>
            <p class="s-course__item-content">
              як поєднувати спорт і дієту для максимального результату.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Міфи про харчування</div>
              <div class="s-course__item-num">04</div>
            </div>
            <p class="s-course__item-content">
              розвінчуємо популярні помилки у фітнесі та нутріціології.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Індивідуальний підхід</div>
              <div class="s-course__item-num">05</div>
            </div>
            <p class="s-course__item-content">
              як адаптувати програму під потреби кожного клієнта.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Індивідуальний підхід</div>
              <div class="s-course__item-num">05</div>
            </div>
            <p class="s-course__item-content">
              як адаптувати програму під потреби кожного клієнта.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Індивідуальний підхід</div>
              <div class="s-course__item-num">05</div>
            </div>
            <p class="s-course__item-content">
              як адаптувати програму під потреби кожного клієнта.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Індивідуальний підхід</div>
              <div class="s-course__item-num">05</div>
            </div>
            <p class="s-course__item-content">
              як адаптувати програму під потреби кожного клієнта.
            </p>
          </a>
          <a href="#" class="s-course__item">
            <div class="s-course__item-head">
              <div class="s-course__item-title">Індивідуальний підхід</div>
              <div class="s-course__item-num">05</div>
            </div>
            <p class="s-course__item-content">
              як адаптувати програму під потреби кожного клієнта.
            </p>
          </a>
        </aside>
      </div>
      <div class="s-course__aside-overlay" id="aside-overlay"></div>
      <div class="s-course__main">
        <h3 class="t-title s-course__main-title">
          Нутріціолог і Тренер: Дует для Здоров’я та Форми
        </h3>
        <p class="s-course__main-content">
          Дізнайтеся, як поєднання знань нутріціолога та тренера допомагає
          досягати максимальних результатів у здоров’ї та фітнесі. Розберемося в
          основах харчування, ефективних тренуваннях та створенні
          індивідуального підходу для кожного клієнта.
        </p>

        <video
          id="player"
          playsinline
          controls
          data-poster="@img/preview-2.jpg"
        >
          <source
            src="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            type="video/mp4"
          />
        </video>
        <button class="button s-course__btn-aside" id="courses-btn">
          Всі відео
        </button>
        <div class="s-course__footer">
          <div class="s-course__author">
            <img
              src="@img/avatar.jpg"
              alt="avatar"
              class="s-course__author-avatar"
            />
            <span class="s-course__author-title">Ірина Березюк</span>
          </div>
          <ul class="list s-course__social">
            <li>
              <a href="#" target="_blank" class="s-course__social-btn">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="s-course__social-btn">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="s-course__time">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-clock"></use>
            </svg>
            <span>48 хв.</span>
          </div>
        </div>
        <div class="s-course__addition">
          <h3 class="t-title">Дополнительные материалы</h3>
          <ul class="list s-course__addition-list">
            <li class="s-course__addition-item">
              <span class="s-course__addition-item-title">Книга тест .pdf</span>
              <a href="@img/avatar.jpg" download class="button _outline-accent"
                >Завантажити</a
              >
            </li>
            <li class="s-course__addition-item">
              <span class="s-course__addition-item-title">Книга тест .pdf</span>
              <a href="@img/avatar.jpg" download class="button _outline-accent"
                >Завантажити</a
              >
            </li>
            <li class="s-course__addition-item">
              <span class="s-course__addition-item-title">Книга тест .pdf</span>
              <a href="@img/avatar.jpg" download class="button _outline-accent"
                >Завантажити</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
