<section class="s-course">
  <div class="container">
    <h1 class="s-course__title">Ваш курс – Two Step to Fit</h1>
    <div class="s-course__wrapper">
      <aside class="s-course__aside _scrollbar">
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Основи нутріціології</div>
            <div class="s-course__item-num">01</div>
          </div>
          <p class="s-course__item-content">
            розбираємося в головних принципах здорового харчування.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Побудова раціону</div>
            <div class="s-course__item-num">02</div>
          </div>
          <p class="s-course__item-content">
            як скласти збалансоване меню для різних цілей.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Тренування та харчування</div>
            <div class="s-course__item-num">03</div>
          </div>
          <p class="s-course__item-content">
            як поєднувати спорт і дієту для максимального результату.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Міфи про харчування</div>
            <div class="s-course__item-num">04</div>
          </div>
          <p class="s-course__item-content">
            розвінчуємо популярні помилки у фітнесі та нутріціології.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Індивідуальний підхід</div>
            <div class="s-course__item-num">05</div>
          </div>
          <p class="s-course__item-content">
            як адаптувати програму під потреби кожного клієнта.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Індивідуальний підхід</div>
            <div class="s-course__item-num">05</div>
          </div>
          <p class="s-course__item-content">
            як адаптувати програму під потреби кожного клієнта.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Індивідуальний підхід</div>
            <div class="s-course__item-num">05</div>
          </div>
          <p class="s-course__item-content">
            як адаптувати програму під потреби кожного клієнта.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Індивідуальний підхід</div>
            <div class="s-course__item-num">05</div>
          </div>
          <p class="s-course__item-content">
            як адаптувати програму під потреби кожного клієнта.
          </p>
        </a>
        <a href="#" class="s-course__item">
          <div class="s-course__item-head">
            <div class="s-course__item-title">Індивідуальний підхід</div>
            <div class="s-course__item-num">05</div>
          </div>
          <p class="s-course__item-content">
            як адаптувати програму під потреби кожного клієнта.
          </p>
        </a>
      </aside>
      <div class="s-course__main">
        <h3 class="t-title s-course__main-title">
          Нутріціолог і Тренер: Дует для Здоров’я та Форми
        </h3>
        <p class="s-course__main-content">
          Дізнайтеся, як поєднання знань нутріціолога та тренера допомагає
          досягати максимальних результатів у здоров’ї та фітнесі. Розберемося в
          основах харчування, ефективних тренуваннях та створенні
          індивідуального підходу для кожного клієнта.
        </p>

        <div class="s-course__main-video">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/o9WOMWwWjko?si=TzPNcMpRVusqyPj2?modestbranding=1&controls=0&rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
