<section class="sect s-offer">
  <div class="container">
    <div class="s-offer__body">
      <div class="s-offer__main">
        <h2 class="s-title s-offer__title">Оплатіть курс і почніть свої зміни вже сьогодні</h2>
        <p class="s-offer__content">
          Доступ до курсу 2 місяці-результат на все життя!
        </p>
      </div>
      <div class="product-card">
        <div class="product-card__info">
          <h4 class="f-title product-card__title _desktop">
            Знижка до початку курса
          </h4>
          <div class="product-card__prices">
            <div class="product-card__price">14.99$</div>
            <div class="product-card__oldprice">59.99$</div>
          </div>
          <a href="#" class="button _white product-card__btn">Почати зміни</a>
        </div>
        <div class="product-card__timer">
          <div class="product-card__time" data-date="04-22-2025">
            02 : 56 : 16
          </div>
          <img
            src="@img/time-img.jpg"
            alt="image"
            class="product-card__timer-img"
          />
        </div>
        <h4 class="f-title product-card__title _mobile">
          Знижка до початку курса
        </h4>
      </div>
      <img src="@img/womens-2.png" alt="image" class="s-offer__img">
    </div>
  </div>
</section>
