<section class="sect s-philosophy">
  <div class="container s-philosophy__container">
    <div class="s-philosophy__head">
      <div class="tag">Наша філософія</div>
      <h2 class="t-title s-philosophy__title">Твій шлях до здорового тіла</h2>
    </div>
    <div data-spollers class="s-philosophy__main">
      <div class="s-philosophy__spoller">
        <button data-spoller class="btn-reset s-philosophy__spoller-btn">
          <span>Про курс</span>
          <div class="s-philosophy__spoller-circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </button>
        <div class="s-philosophy__spoller-body">
          <p>
            Цей курс — ваш перший крок до здоров’я та гармонії. Програма включає
            комфортні тренування для будь-якого рівня підготовки та посібник, у
            якому ви станете самі собі нутріціологами. Він містить 100 рецептів
            збалансованих і різноманітних страв. І все це з доступом на два
            місяці. Помітні зміни, зменшення об’ємів і покращення самопочуття ви
            відчуєте вже через декілька тижнів.
          </p>
          <p>Забудь про дієти на 1000 кал.</p>
          <p>Без виснажених тренувань.</p>
          <p>Їж улюблену їжу і отримуй задоволення.</p>
          <p>Не марафон, результат на все життя.</p>
        </div>
      </div>
      <div class="s-philosophy__spoller">
        <button data-spoller class="btn-reset s-philosophy__spoller-btn">
          <span>Про курс</span>
          <div class="s-philosophy__spoller-circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </button>
        <div class="s-philosophy__spoller-body">
          <p>
            Цей курс — ваш перший крок до здоров’я та гармонії. Програма включає
            комфортні тренування для будь-якого рівня підготовки та посібник, у
            якому ви станете самі собі нутріціологами. Він містить 100 рецептів
            збалансованих і різноманітних страв. І все це з доступом на два
            місяці. Помітні зміни, зменшення об’ємів і покращення самопочуття ви
            відчуєте вже через декілька тижнів.
          </p>
          <p>Забудь про дієти на 1000 кал.</p>
          <p>Без виснажених тренувань.</p>
          <p>Їж улюблену їжу і отримуй задоволення.</p>
          <p>Не марафон, результат на все життя.</p>
        </div>
      </div>
      <div class="s-philosophy__spoller">
        <button data-spoller class="btn-reset s-philosophy__spoller-btn">
          <span>Про курс</span>
          <div class="s-philosophy__spoller-circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </button>
        <div class="s-philosophy__spoller-body">
          <p>
            Цей курс — ваш перший крок до здоров’я та гармонії. Програма включає
            комфортні тренування для будь-якого рівня підготовки та посібник, у
            якому ви станете самі собі нутріціологами. Він містить 100 рецептів
            збалансованих і різноманітних страв. І все це з доступом на два
            місяці. Помітні зміни, зменшення об’ємів і покращення самопочуття ви
            відчуєте вже через декілька тижнів.
          </p>
          <p>Забудь про дієти на 1000 кал.</p>
          <p>Без виснажених тренувань.</p>
          <p>Їж улюблену їжу і отримуй задоволення.</p>
          <p>Не марафон, результат на все життя.</p>
        </div>
      </div>
      <div class="s-philosophy__spoller">
        <button data-spoller class="btn-reset s-philosophy__spoller-btn">
          <span>Про курс</span>
          <div class="s-philosophy__spoller-circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </button>
        <div class="s-philosophy__spoller-body">
          <p>
            Цей курс — ваш перший крок до здоров’я та гармонії. Програма включає
            комфортні тренування для будь-якого рівня підготовки та посібник, у
            якому ви станете самі собі нутріціологами. Він містить 100 рецептів
            збалансованих і різноманітних страв. І все це з доступом на два
            місяці. Помітні зміни, зменшення об’ємів і покращення самопочуття ви
            відчуєте вже через декілька тижнів.
          </p>
          <p>Забудь про дієти на 1000 кал.</p>
          <p>Без виснажених тренувань.</p>
          <p>Їж улюблену їжу і отримуй задоволення.</p>
          <p>Не марафон, результат на все життя.</p>
        </div>
      </div>
    </div>
  </div>
</section>
