<section class="sect s-reviews" id="reviews">
  <div class="container">
    <h2 class="t-title">Відгуки та враження</h2>
    <div class="swiper s-reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-head">
            <div class="s-reviews__user">
              <img
                src="@img/avatar.jpg"
                alt="image"
                class="s-reviews__slide-avatar"
              />
              <span>Alina</span>
            </div>
            <div class="s-reviews__slide-stars">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <p class="s-reviews__slide-content">
            Ірочка, добрий день. Сьогодні отримала аналізи, результат
            приголомшливий. Мій лікар з Україні передав тобі вітання, тому що
            аналізи здивували навіть його. Я дуже тобі вдячна за таку складну
            роботу, і допомогу. Це було не просто, але тепер моє життя ніколи не
            буде таким як було 8 місяців тому, тому що я не хочу до нього ще...
          </p>
          <div class="s-reviews__slide-date">2 березня</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-head">
            <div class="s-reviews__user">
              <img
                src="@img/avatar.jpg"
                alt="image"
                class="s-reviews__slide-avatar"
              />
              <span>Alina</span>
            </div>
            <div class="s-reviews__slide-stars">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <p class="s-reviews__slide-content">
            Ірочка, добрий день. Сьогодні отримала аналізи, результат
            приголомшливий. Мій лікар з Україні передав тобі вітання, тому що
            аналізи здивували навіть його. Я дуже тобі вдячна за таку складну
            роботу, і допомогу. Це було не просто, але тепер моє життя ніколи не
            буде таким як було 8 місяців тому, тому що я не хочу до нього ще...
          </p>
          <div class="s-reviews__slide-date">2 березня</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-head">
            <div class="s-reviews__user">
              <img
                src="@img/avatar.jpg"
                alt="image"
                class="s-reviews__slide-avatar"
              />
              <span>Alina</span>
            </div>
            <div class="s-reviews__slide-stars">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <p class="s-reviews__slide-content">
            Ірочка, добрий день. Сьогодні отримала аналізи, результат
            приголомшливий. Мій лікар з Україні передав тобі вітання, тому що
            аналізи здивували навіть його. Я дуже тобі вдячна за таку складну
            роботу, і допомогу. Це було не просто, але тепер моє життя ніколи не
            буде таким як було 8 місяців тому, тому що я не хочу до нього ще...
          </p>
          <div class="s-reviews__slide-date">2 березня</div>
        </div>
        <div class="swiper-slide s-reviews__slide">
          <div class="s-reviews__slide-head">
            <div class="s-reviews__user">
              <img
                src="@img/avatar.jpg"
                alt="image"
                class="s-reviews__slide-avatar"
              />
              <span>Alina</span>
            </div>
            <div class="s-reviews__slide-stars">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <p class="s-reviews__slide-content">
            Ірочка, добрий день. Сьогодні отримала аналізи, результат
            приголомшливий. Мій лікар з Україні передав тобі вітання, тому що
            аналізи здивували навіть його. Я дуже тобі вдячна за таку складну
            роботу, і допомогу. Це було не просто, але тепер моє життя ніколи не
            буде таким як було 8 місяців тому, тому що я не хочу до нього ще...
          </p>
          <div class="s-reviews__slide-date">2 березня</div>
        </div>
      </div>
    </div>
    <div class="s-reviews__slider-nav">
      <button class="slider-btn _prev">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-arrow-line'></use>
        </svg>
      </button>
      <div class="slider-pagination"></div>
      <button class="slider-btn _next">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-arrow-line'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
