.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.button {
  @include flex-center;
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--accent);
  padding: 14px 50px;
  border: none;
  width: fit-content;

  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: white;

  transition:
    box-shadow 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease,
    background-color 0.2s ease;
  @include hover {
    box-shadow: 0px 4px 15px 1px rgba(24, 39, 81, 0.2);
  }

  &._white {
    background-color: white;
    color: var(--accent);
  }
  &._outline-white {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: none !important;
    @include hover {
      background-color: white;
      color: var(--accent);
    }
  }
  &._outline-accent {
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
    box-shadow: none !important;
    @include hover {
      background-color: var(--accent);
      color: white;
    }
  }
}
