._scrollbar {
  padding-right: 24px;

  @include laptop-middle {
    padding-right: 6px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    @include laptop-middle {
      width: 4px;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: #F3F6FF;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--accent);
  }
}